/*affects the whole page*/
html {
    scroll-behavior: smooth;
}

/*affect all the elements*/

* {
    text-align: justify;
}

body {
    margin: auto 1em;
    font-family: "Helvetica Neue", sans-serif;
}

p, ul, a, label, input, textarea, select, span {
    font-size: large;
    line-height: 1.3em;
}

p, ul, a, label, input, textarea {
    color: dimgray;
}

/*applies to nav*/
h1 {
    color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 1em;
    left: 0;
    padding: 0;
    margin: auto;
}

nav div {
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: #424242;
    --gap: 5px;
    --radius: 30px;
    gap: 5px;
    border-radius: var(--radius);
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 10px 1px;
}

nav a {
    margin: 0.2em;
    text-align: center;
    display: block;
    padding: 10px;
    text-decoration: none;
    border: dashed 1px transparent;
    border-radius: calc(var(--radius) - var(--gap));
    white-space: nowrap;
    transition: 0.2s;
}

nav a:hover {
    border: dashed 1px white;
}

nav a.active {
    background-color: rgba(0, 255, 190, 0.5);
    color: mediumspringgreen;
    border: dashed 1px transparent;
    pointer-events: none;
    /*    background-color: rgba(0, 122, 156, 0.5);*/
    /*    color: #03d3fc;*/
}

nav a:not(.active) {
    color: grey;
}

/*a:visited has to do with the color of visited links, usually purple*/

a:visited {
    color: inherit;
}

.active a:hover {
    border: dashed transparent;
}

main {
    margin: 150px auto 0;
    max-width: 900px;
}

.narrow-container, .narrow-container-2 {
    width: 80%;
    margin: 2em auto;
    border-radius: 2em;
    background-color: whitesmoke;
    padding: 2em;
}

.wide-container, .wide-container2 {
    width: 100%;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    border-radius: 2em;
    background-color: whitesmoke;
}

.wide-container2 {
    width: 80%;
    padding: 2em;
}

.text-container, .text-container2 {
    margin: auto;
}

.text-container2 {
    width: 60%;
    padding: 2em;
}

.mainGridContainer {
    width: 100%;
    margin: 2em auto;
    border-radius: 2em;
    background-color: whitesmoke;
    padding: 2em 0;
}

.gridTextContainer {
    padding: 1em;
    width: 80%;
    margin: auto;
}

.galleryContainer {
    display: grid;
    /*fr means fraction of available unit and it means */
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5em;
    align-items: start;
    padding: 0.5em;
}

.item {
    width: 100%;
    border-radius: 10px;
}

.item img {
    display: block;
    width: 100%;
    border-radius: 10px;
    transition: ease-in-out 0.3s;
    border: solid 2px transparent;
    filter: brightness(0.5);
    position: relative;
}

.item img:hover {
    transform: scale(1.05);
    border: solid 2px white;
    filter: brightness(1);
    /*99 is a safety margin to ensure the image is brought to the very front on hover*/
    z-index: 99;
}

h1 {
    font-size: 2rem;
    margin-top: 0;
}

.img-container {
    width: 250px;
    margin: auto;
    overflow: hidden;
    padding: 1em;
}

.img-container img {
    display: block;
    width: 100%;
    border-radius: 1em;
    box-shadow: 0 1px 10px 1px rgba(50, 50, 50, 0.5);
}

.project-container {
    width: 100%;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 2em;
    background-color: whitesmoke;
    padding: 2em 0;
    transition: ease-in-out 0.2s;
}

.project-container2 {
    width: 100%;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    border-radius: 2em;
    flex-wrap: wrap-reverse;
    background-color: whitesmoke;
    padding: 2em 0;
    transition: ease-in-out 0.2s;
}

.project-container:hover, .project-container2:hover {
    box-shadow: 0 1px 10px 5px rgba(100, 100, 100, 0.3);
    cursor: pointer;
}

.project-text-container {
    width: 40%;
    margin: auto;
    padding: 1em;
}

.project-thumbnail {
    width: 400px;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;
    transition: ease-out 0.2s;
    box-shadow: 0 1px 10px 1px rgba(100, 100, 100, 0.5);
}

.project-thumbnail img {
    display: block;
    width: 100%;
    transition: 0.5s;
    overflow: hidden;
}

/*.project-thumbnail img:hover {*/
/*    transform: scale(1.1);*/
/*}*/

/*.project-thumbnail:hover {*/
/*    box-shadow: 0 1px 10px 5px rgba(100, 100, 100, 0.6);*/
/*}*/

/*Line*/
hr {
    width: 90%;
    border: 1px solid lightgrey;
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    flex-wrap: wrap;
    margin: 5em auto 1em;
    padding: 1em;
    background-color: whitesmoke;
    border-radius: 2em;
    gap: 1em 3em;
    max-width: 900px;
}

footer p {
    color: grey;
}

footer div {
    margin: 0 3em;
}

.get-in-touch {
    display: flex;
    flex-direction: column;
}

.connect {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.connect a {
    width: fit-content;
    margin: auto 0;
    padding: 0.7em;
    border-radius: 50px;
    border: 1px solid lightgrey;
    transition: ease-out 0.2s;
}

footer h3 {
    font-weight: unset;
}

footer a {
    color: black;
    text-decoration: none;
}

footer img {
    width: 20px;
    display: block;
}

.connect a:hover {
    transform: scale(1.1);
}

.form {
    width: 60%;
    padding: 1em 0;
    margin: 2em auto;
    background-color: whitesmoke;
    border-radius: 2em;
}

form {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.names span {
    padding: 0 0 1em 0;
    display: block;
}

#thanks {
    margin: auto;
    display: none;
}

#thanks p {
    text-align: center;
}

#firstnameInvalid, #lastnameInvalid, #emailInvalid, #messageCounter, #counter, #subjectErrorMsg {
    font-size: small;
    opacity: 0;
    color: red;
    padding: 0 0 5px 0;
    transition: ease-in-out 0.3s;
}

input, textarea, select {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: 5px 0;
    padding: 14px;
    resize: none;
    border-radius: 1em;
    border: 1px solid lightgrey;
    transition: ease-in-out 0.3s;
}

select {
    border-radius: 1em;
    border: 1px solid lightgrey;
}

select:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

textarea {
    height: 100px;
    font-family: "Helvetica Neue", sans-serif;
}

#buttons {
    display: flex;
    gap: 1em;
    margin: auto 0;
}

label {
    width: fit-content;
}

/*Choose what type of input to style*/
input[type=submit], input[type=button] {
    width: 150px;
    padding: 0.5em 0;
    text-align: center;
    border-radius: 1em;
    background-color: whitesmoke;
    transition: ease-in-out 0.2s;
    cursor: pointer;
}

.names {
    display: flex;
    gap: 1em;
}

.firstname, .lastname {
    width: 100%;
}

#submit {
    background-color: rgb(0, 110, 255);
    color: white;
}

#submit:hover {
    background-color: rgb(0, 130, 255);;
}

#clear {
    color: gray;
}

#clear:hover {
    color: black;
}

input, textarea {
    color: black;
}

textarea::placeholder, input::placeholder {
    color: lightgrey;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: white;
}

/*Change behavior and layout based on display width*/

@media (max-width: 745px) {

    .narrow-container {
        width: 90%;
    }

    .text-container, .text-container2, .project-text-container {
        width: 90%;
    }

    footer {
        justify-content: space-evenly;
    }

    footer p {
        display: none;
    }

    footer img:hover {
        transform: none;
    }

    input[type=submit]:hover {
        background-color: revert;
    }

    .narrow-container {
        padding: 1em;
    }

    .form {
        width: 75%;
    }

    .galleryContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .item:last-child {
        /*This stretches the last cell to cover the whole row*/
        grid-column: 1/-1;
        margin: auto;
        width: 50%;
    }
}

@media (max-width: 480px) {

    nav {
        position: static;
        padding: 1em;
        width: auto;
    }

    nav div {
        flex-direction: column;
        width: 80%;
        max-width: none;
        padding: 0.5em;
    }

    nav a {
        white-space: wrap;
    }

    main {
        margin-top: 0;
    }

    .form {
        width: 90%;
        padding: 1em;
    }

    #submit-buttons {
        justify-content: center;
        width: 100%;
    }

    .galleryContainer {
        grid-template-columns: repeat(1, 1fr);

        .item:last-child {
            margin: auto;
            width: 100%;
        }

    }

    @media (max-width: 435px) {

        nav {
            position: static;
            padding: 1em;
            width: auto;
        }

        footer {
            justify-content: center;
        }

        footer p {
            display: none;
        }
    }
}


